@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-nanum-rg: 'NanumSquareR', sans-serif;
        --font-nanum-bd: 'NanumSquareB', sans-serif;
    }
}

@layer components {
    .bold {
        font-family: var(--font-nanum-bd);
    }

    .reg {
        font-family: var(--font-nanum-rg);
    }
}
